.accordion {
  margin-top: 18px;
}

.acc-item {
  margin-bottom: 12px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--shadow);
  background: var(--white);
  transition: max-height 0.5s ease, padding 0.5s ease;
}

.acc-toggle {
  width: 100%;
  text-align: left;
  padding: 14px 16px;
  border: none;
  background: var(--white);
  cursor: pointer;
  font-weight: 400;
  font-size: 14px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.acc-toggle::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url('../../../images/arrow-right-solid-full.svg') no-repeat center center;
  background-size: contain;
  transition: transform 0.3s ease;
}

.acc-panel {
  max-height: 0;
  overflow: hidden;
  padding: 0 16px;
  opacity: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease, padding 0.5s ease;
  font-size: 14px;
}

.acc-item.expanded .acc-panel {
  max-height: 1000px;
  opacity: 1;
  padding: 12px 16px;
}

.acc-item.expanded .acc-toggle::after {
  transform: rotate(90deg);
}
