.cards{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 14px;
  margin-top: 12px;
}

.card {
  background: var(--white);
  padding: 16px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card h3 {
  margin: 0 0 12px 0;
  line-height: 1.2;
}

.card p {
  margin: 0 0 16px 0;
}

.card .link-more {
  display: inline-block;
  color: var(--black);
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.2s, color 0.2s;
}

.card .link-more:hover {
  transform: scale(1.05);
  color: var(--sage);
}
